<div class="container__big-cards">
    <div class="big-card__photo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJiT-UHSm6w0Jperb8SitpfoAKeMUE3uynPg5YO-2Drw&s" height="95%" width="95%" alt="">
    </div>
    <div class="big-card__title">
       <a href=""><h1>Lorem ipsum dolor sit amet</h1></a>
    </div>
    <div class="big-card__description">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, magnam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, alias?</p>
    </div>
</div>
